extends ../layout

block content
  h2 API Examples
  hr

  .row

    .col-sm-4
    form(action='/api/scraping', method='post')
      fieldset
        label(for='link') Link:
        textarea#link(placeholder="Your public LinkedIn link please",csrf=!{csrf})
        input(type='submit', value='Send message', )
